<form action="/signin/submit" method="POST">
<p style="color:red">{{saved}}</p>
  <div class="input">
      <label for="username">Username</label>
      <input type="text" id="email" name="username">
    </div>
    <div class="input">
      <label for="password">password</label>
      <input type="password" id="password" name="password">
    </div>
  <button type="submit">Sign In</button>
</form>
<div>
  <button type="submit"><a href="/register"> Register </a></button>
  <button type="submit"><a href="/signin/forgot"> I forget my password </a></button>
</div>